//variables
$main-color: #fb8333;
$secondary-color: #00a6dc;
$light-color: #fefefe;
$medium-color: #ccc;
$dark-color: #343a40;
$third-color: #f4a548;

$img-showcase-url: url("../images/showcase1.jpg");
$website-width: 1280px;
